@import "~normalize.css";

// @import "_variables";
// @import "modules/hello.scss";

.animation {
animation-name: animation; 
animation-duration: 2000ms;
animation-iteration-count: 1;
-webkit-animation-iteration-count: 1;
}

@keyframes animation {
  
  0% , 100% {  opacity: 0; }
  25%, 75% {  opacity: 1; }
  
  
}


body {
  background: #e4e3e0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  &__button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    &-load {
      margin: 0 15px;
      border-radius: 10px;
      border-style: solid;
      border-width: 3px;
      border-color: #2d6ac5;
      &:hover {
        border-color: #5b2dc5;
      }
    }
    &-save {
      margin: 0 15px;
      border-radius: 10px;
      border-style: solid;
      border-width: 3px;
      border-color: #2d6ac5;
      &:hover {
        border-color: #5b2dc5;
      }
    }
  }
  &__info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    color: #000000;
  }
  &__input {
    height: 60%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #5b2dc5;
    outline: none;
    resize: none;
  }
  &__name {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
    color: #333333;
    font-size:28px;  
    font-weight: 500;
  }
}







