@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #E4E3E0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  number: 1;
  align-items: center;
  justify-content: center;
}
.editor {
  flex: 2;
  height: 60%;
  width: 80%;
  resize: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #2D6AC5;
}

.name {
  flex: 1;
}