@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #E4E3E0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.button {
  
  margin: 0 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #2D6AC5;
}

.button:hover {
  border-color: #5b2dc5;
}
.container {
  height: 70vh;
  width:  70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end; 

}
.container_name {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-left: 15px;
  color: #333333;
  font-size: large;
  font-weight: 500;
}
.container_input {
  
  height: 60%;
  width: 100%;
  margin-bottom: 20px;

}

.editor {
  
  height: 100%;
  width: 100%;
  resize: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #2D6AC5;
  font-size: large;
  ;
}

.editor:focus {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #5b2dc5;
  outline: none;
}